*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: 25px;
    text-transform: capitalize;
}

.form input{
    min-width: 400px;
    display: block;
    margin: 20px;
    padding: 15px 20px;
    background-color: #ece7e7;
    font-style: 20px;
    border: none;
    outline: none;
    text-transform: capitalize;
    box-shadow: 15px 15px 25px #a8a8a8;
    transition: box-shadow 0.5s;
}
.form input:focus {
    box-shadow: 5px 5px 15px #a8a8a8;
}
.form .btn{
     margin: auto;
     padding: 10px 35px;
     background-color: #f1a566;
     color: #fff;
     border: none;
     font-size: 22px;
     border-radius: 10px;
     box-shadow: 15px 15px 25px #a8a8a8;
     transition: box-shadow .5s;
     outline: none;
}
.form .btn:hover{
    box-shadow: 5px 5px 15px #aaa;
}
.form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    width: 50vw;
    position: absolute;
    bottom: 0px;
    font-size: 35px;
}
.left-section .form{
    float: left;
    margin: 35vh auto;
}

.right-section .form{
    float: right;
    margin: 30vh auto;
    right: 0;
}
.cover .switch-btn{
    position: absolute;
    bottom: 0;
    font-size: 25px;
    padding: 10px 20px;
    margin: 40vh auto;
    background-color: #f1a566;
    color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 15px 15px 25px #a8a8a8;
    transition: box-shadow .5s;
    outline: none;
}
.cover .switch-btn:hover{
    box-shadow: 5px 5px 15px #aaa;
}
.left-section .cover{
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.left-section .cover img{
    height: 100vh;
    width: 50vw;
    background-color: yellow;
}
.left-section .cover h1{
    position: absolute;
    bottom: 0;
    margin: 60vh auto;
    color: #fff;
    font-style: 50px;
}
.left-section .cover h3{
    position: absolute;
    bottom: 0;
    margin: 50vh auto;
    color: #fff;
    font-style: 30px;
}
.left-section .cover-hide{
    visibility: hidden;
}
.left-section .form-hide{
    visibility: hidden;
}

.right-section .cover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.right-section .cover img{
    height: 100vh;
    width: 50vw;
    background-color: yellow;
}
.right-section .cover h1{
    position: absolute;
    bottom: 0;
    margin: 60vh auto;
    color: #fff;
    font-style: 50px;
}
.right-section .cover h3{
    position: absolute;
    bottom: 0;
    margin: 50vh auto;
    color: #fff;
    font-style: 30px;
}
.right-section .cover-hide{
    visibility: hidden;
}
.right-section .form-hide{
    visibility: hidden;
}
.fade-in-element{
    animation: fade-in-element 1s forwards;
}

@keyframes fade-in-element{
    from {
        opacity: 0;
    }
    to {
        opacity: ;
    }
}
